*{
    font-family: Arial, 'Verdana', sans-serif;
}


.barra{
    background-color: #353536;
}

.imagencentral  > img{
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.textocontitulo{
    margin-top: 8%;
    padding-right: 4%;
}

.cartas{
    --bs-columns: 3;
}

.botonform{
    background-color: #3edd54;
    color: white;
}

footer{
    background-color: #273396;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}